<!DOCTYPE html>
<html>

<head>
	<meta charset="UTF-8">
	<link th:href="@{/css/bootstrap.css}" rel="stylesheet" />
	<title>Get Product</title>
</head>

<body>
	<h1 align="center">Product</h1>
	<form align="center" th:action="@{/search}" th:object="${Product}" method="post">
		<input type="text" name="nameProduct" placeholder="Name Product">
		<input type="submit" value="search" class="btn btn-success">
	</form>
	<table align="center">
		<tr>
			<th>San pham</th>
			<th>Don Gia</th>
			<th>So Luong</th>
		</tr>
		<tr th:each="product : ${productList}">
			<td th:text="${product.nameProduct}"></td>
			<td th:text="${product.unitPrice}" width="100"></td>
			<td th:text="${product.amount}" width="100"></td>
			<td><a th:href="@{'/delete?id=' +${product.id}}" class="btn btn-danger">-Xoa San Pham</a></td>
			<td><a th:href="@{'/edit?id=' +${product.id}}" class="btn btn-primary">Sua San Pham</a></td>
		</tr>
		<tr>
			<td><a align="center" th:href="@{/addproduct}" class="btn btn-success">Them san pham</a></td>
			<td><a align="center" th:href="@{/logout}" class="btn btn-danger">Logout</a></td>
		</tr>
	</table>
</body>

</html>