<!DOCTYPE html>
<html>

<head>
	<meta charset="UTF-8">
	<link th:href="@{/css/bootstrap.css}" rel="stylesheet" />
	<title>Register Account</title>
</head>

<body>
	<h1 align="center">Sign up</h1>
	<form align="center" th:action="@{/Register}" th:object="${User}" method="post">
		<fieldset>
			<div class="form-group">
				<label>UserName</label>
				<input type="text" th:field="*{userName}">
			</div>
			<div class="form=group">
				<label>Password</label>
				 <input type="password" th:field="*{password}">
			</div>
			<div class="form-group">
				<input th:field="*{role}" type="radio" value="User" name="roles"> <label for="User">User</label>
				<input th:field="*{role}" type="radio" value="Admin" name="roles"> <label for="User">Admin</label>
			</div>
			<p style="color:red;" th:text="${message}"></p>
			<button type="submit" class="btn btn-success">Đăng kí</button>
			</div>
		</fieldset>
	</form>
</body>

</html>